torch
diffusers
runpod
pillow
torchvision
transformers
huggingface-hub
regex
numpy
filelock
importlib-metadata
requests
safetensors
scikit-image
threadpoolctl
scipy
joblib
opencv-python
aiohttp
backoff
boto3
fastapi
py-cpuinfo
python-dotenv
tomli
tqdm-loggable
omegaconf
yapf
tb-nightly
pyyaml
basicsr>=1.4.2
facexlib>=0.2.5
lmdb
torchaudio
invisible_watermark
accelerate
datasets
hf-doc-builder
Jinja2
librosa
tensorboard
pytorch-lightning
xformers
